body { background: #8FBC8F;
       font-family:  'Century Gothic', sans-serif }

h1 { font-family: 'Syncopate', sans-serif;
     font-weight: bold;
     font-size: 250%;
     margin: 5;
     text-align: left }
     
h2 { font-family: 'Syncopate', sans-serif;
     font-weight: normal;
     margin: 0;
     font-size: 100%;
     text-align: right }

nav { font-family: 'Syncopate', sans-serif;
      text-align: left;
      font-weight: bold; }
nav ul { margin: 0 }
nav li { display: inline-block;
         border: 1px solid black;
         padding: 1px; margin: 1px;
         font-size: 80%;
         background: #fc9 }

#portrait { height: 300px;
            float: left; 
            border: 1px solid #DB7093;
            margin: 10px;}
